/* Increase Main Container Width */
#content .main-container {
    max-width: 100% !important;
}

/* Increase Search Bar Width */
div[data-search-term] {
    max-width: 800px !important;
}

/* Increase Report Font-Size */
.ag-cell-wrapper {
    font-size: 16px !important;
}

/* Fix Menu Overlay-ing Search */
aside#sidebar, aside#property-sidebar {
    z-index:1 !important;
}

/* What's New Double Scroll Fix */
.jsx-201526664 {
    max-height: 100% !important;
}

/* Remove Redundant Page Titles */
.page-title {
    margin: 0 !important;
}

/* Hide New Info Messages */
#content .alert-info {
    display: none !important;
    visibility: hidden !important;
}

/* Fix SMS Inbox Scroll */
#advanced_inbox_root .row .col {
    max-height: 76vh !important;
}

/* Set Left Margin on Global Search for Dark/Light Mode Toggle */
#global-search-container {
    margin-left: 50px !important;
}

.report-title {
    margin-left: 35px !important;
}

/* Hide Stuff */
#add_ons_link,
.graph-table-toggle,
#leasing-activity-income-verification,
#online_payments .dashboard-widget__subtitle,
.main-container .js-footer,
.intercom-lightweight-app,
.js-print-rental-application-link,
#logo,
#workflows_command_center_root,
aside.future-start-sidebar div:nth-child(3) div.start-sidebar-menu-row {
    display: none !important;
    visibility: hidden !important;
}

/*
 * Hide Images
 */

/* Hide Owners Image */
.owners .grid__2 {
    display: none !important;
    visibility: hidden !important;
}
.owners .grid__large-10 {
    width: 100% !important;
}

/* Hide Property Image */
.properties #attached-photos-default-photo {
    display: none !important;
    visibility: hidden !important;
}
.properties .grid__large-9 {
    width: 100% !important;
}

/* Hide Unit Image */
.units .grid__3 {
    display: none !important;
    visibility: hidden !important;
}
.units .grid__large-9 {
    width: 100% !important;
}

/* Hide Vendors Image */
.vendors .grid__2 {
    display: none !important;
    visibility: hidden !important;
}
.vendors .grid__large-10 {
    width:100% !important;
}

/*
 * Fix Calendar Pages - AF Loads Different Style Sheet
 */

/* Fix Main Container Width on Calendar Pages */
#property-content .container-xl {
    max-width: 100% !important;
}

/* Fix Property Calendar Header */
#property-header {
    grid-template-columns: 1fr !important;
    --bs-bg-opacity: 1;
    background-color: rgba(26, 30, 35, var(--bs-bg-opacity)) !important;
}

/* Fix Calendar Double Scroll */
.js-calendar-container .mt-2 {
    height: 100% !important;
}
.js-calendar-container .rbc-allday-cell .rbc-row-bg,
.js-calendar-container .rbc-allday-cell .rbc-row-content,
.js-calendar-container .rbc-time-header-cell {
    overflow-y: auto !important;
}
