/* Increase Main Container Width */
#content .main-container{
    max-width:100% !important;
}

/* Increase Search Bar Width */
div[data-search-term] {
    max-width:800px !important;
}

/* Increase Report Font-Size */
.ag-cell-wrapper {
    font-size: 16px !important;
}

/* Fix Property Calendar Page */
#property-header {
    grid-template-columns:1fr !important;
}

/* Fix Menu Overlay-ing Search */
aside#sidebar, aside#property-sidebar {
    z-index:1 !important;
}

/* What's New Double Scroll Fix */
.jsx-201526664 {
    max-height:100% !important;
}

/* Remove Redundant Page Titles */
.page-title {
    margin:0 !important;
}

/* Hide Owners Image */
.owners .grid__2 {
    display:none !important;
    visibility:hidden !important;
}
.owners .grid__large-10 {
    width:100% !important;
}

/* Hide Vendors Image */
.vendors .grid__2 {
    display:none !important;
    visibility:hidden !important;
}
.vendors .grid__large-10 {
    width:100% !important;
}

/* Hide Stuff */
#add_ons_link,
.graph-table-toggle,
#leasing-activity-income-verification,
#online_payments .dashboard-widget__subtitle,
.main-container .js-footer,
.intercom-lightweight-app,
.js-print-rental-application-link,
#logo {
    display:none !important;
    visibility:hidden !important;
}
